/* Write your CSS here */

.team-card-container {
  display: flex;
  align-items: center;
  border: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: #ffffff;
  background-color: transparent;
  width: 120px;
  margin-right: 16px;
}

.team-image {
  height: 30px;
  margin-right: 20px;
}

.team-name {
  font-size: 14px;
  font-family: 'Bree Serif';
  color: #ffffff;
}
